{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class='container'> 
   <br><br> 
    <h1>Crée un nouveau produit</h1>
      <br><br> 
    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">Retour a list</a>

</div>

{% endblock %}
